{%- comment -%}
Expected inputs:
- techniques = Array of technique objects or shorthand strings
- groups = Optional array of groups, if they exist in context (for referencing IDs)
{%- endcomment -%}
<ul>
{%- for technique in techniques %}
  <li>
    {% if technique.using %}{% unless groups %}<p>{% endunless %}{% endif %}
    {%- if technique.and -%}
      {%- assign andConjunction = technique.andConjunction | default: "<strong>AND</strong>" -%}
      {%- for andEntry in technique.and %}
        {% unless forloop.first %}{{ andConjunction }}{% endunless %}
        {% include "understanding/techniques-entry.html", technique: andEntry %}
      {%- endfor -%}
    {%- else -%}
      {%- include "understanding/techniques-entry.html", technique: technique -%}
    {%- endif -%}
    {%- if technique.using %}
      {%- unless technique.skipUsingText -%}
        {%- assign usingConjunction = technique.usingConjunction | default-strict: "using" -%}
        {%- assign usingQuantity = technique.usingQuantity | default-strict: "one" -%}
        {%- if technique.usingPrefix %}
          {{ technique.usingPrefix }}
        {%- endif %}
        {{ usingConjunction }}
        {% if groups -%}
          {% # When groups are involved, flatten `using` to a single phrase joined by "AND" %}
          {%- for usingId in technique.using -%}
            {%- unless forloop.first %} <strong>AND</strong> {% endunless -%}
            {%- for group in groups -%}
              {%- if group.id == usingId -%}
                {{ usingQuantity }} {% if usingQuantity != "" %}of {% endif %}the following
                <strong><a href="#{{ group.id }}">{{ group.title }}</a></strong>
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}
        {% else -%}
          {{ usingQuantity }} {% if usingQuantity != "" %}of {% endif %}the following techniques
        {%- endif -%}
      {%- endunless -%}
      {% unless groups %}:
        </p>
        {% include "understanding/techniques-list.html", techniques: technique.using %}
      {%- endunless -%}
    {% endif -%}
  </li>
{% endfor -%}
</ul>
