{%- comment -%}
Handles formatting for a single technique (no `using` or `and` handling).
Expected input:
- technique = technique object or shorthand
{%- endcomment -%}

{% assign techniqueObj = technique | expand-technique %}
{%- if techniqueObj.id -%}
  {%- capture techniqueLink %}{{ techniqueObj.id | linkTechniques }}{% endcapture -%}
  {%- if techniqueObj.prefix %}{{ techniqueObj.prefix }} {% endif -%}
  {{ techniqueLink }}
  {%- if techniqueObj.suffix %} {{ techniqueObj.suffix }}{% endif -%}
{%- elsif techniqueObj.title -%}
  {{ techniqueObj.title }}
{%- endif -%}
